<div class="row">
	<div class="col-xs-2"></div>
	<div class="col-xs-7 offset-xs-3">
	<h2>Add Car Details</h2>
		<input class="form-control" type="text" placeholder="Car Name" [(ngModel)]="carname"><br/>
		<input class="form-control" type="text" placeholder="Segment Name" [(ngModel)]="segment"><br/>
		<input class="form-control" type="number"  min="1" max="1000" step="1" placeholder="Rent Cost" [(ngModel)]="rent"><br/>
		<input class="form-control" type="file" [(ngModel)]="file"><br/>
		<button class="btn btn-lg btn-primary btn-block" type="submit" (click)="addCarDetails()">
	        Add</button><br/>
		<div class="alert alert-danger" *ngIf="error">{{errorMessage}}</div> 
	</div>
</div>
