img{
	height: 100px;
    width: 100px;
}

body{
	overflow-x : hidden;
}

.container {
	margin:0px;
}

a{
	cursor : pointer;
}

.modal-body{
	text-align: center;

}

.editimage{
	height: 100px;
    width: 100px;
}
