<marquee class="text-danger" *ngIf="!sharedService.logged" behavior="scroll" scrollamount=5 direction="left"><strong>Login or Signup to Book your car</strong></marquee>

<div class="container" *ngFor="let car of cars ; let i = index">
    <div class="row">
       <div class="col-xs-12 col-md-6 col-lg-3">
         <img [src]="cars[i].imagePath"><br/>
            Car Name : {{cars[i].carName}}<br/>
            Segment : {{cars[i].segment}}<br/>
            Rent : ${{cars[i].rentCost}} /day<br/>
            <button class="btn btn-info" *ngIf="sharedService.userLogged" (click)="bookCar(car.carName)" data-toggle="modal" data-target="#myModal">Book</button><br/>
            <button class="btn btn-success" *ngIf="sharedService.managerLogged" data-toggle="modal" data-target="#myModal" (click)="editCar(car)">Edit</button>&nbsp;&nbsp;
            <button class="btn btn-danger" *ngIf="sharedService.managerLogged" (click)="deleteCar(car.carName)" data-toggle="modal" data-target="#myModal">Delete</button><br/>
       </div>
    </div>
</div>
    <!--  Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <span *ngIf="editing">
                <img class="editimage" [src]="imagePath"><br/><br/>
                    Car Name : {{carname}}<br/><br/>
                     Segment Name<br/>
                    <input class="form-control" type="text" placeholder="Segment Name" [(ngModel)]="segment"><br/>
                     Rent Cost<br/>
                    <input class="form-control" type="number"  min="1" max="1000" step="1" placeholder="Rent Cost" [(ngModel)]="rent"><br/>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="updateCarDetails()">
          Update</button><br/>
                </span>
                <span *ngIf="loading">
                    {{loadingInfo}}<br/>
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </span>
                <span *ngIf="loaded">
                    {{loadedMessage}}
                </span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

      </div>
</div>