<div class="row">
	<div class="col-xs-2"></div>
	<div class="col-xs-7 offset-xs-3">
	<h2>Login</h2>
		<input class="form-control" type="text" placeholder="User Name" [(ngModel)]="username"><br/>
		<input type="password" class="form-control" placeholder="Password" [(ngModel)]="password"><br/>
		<button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="submitDisabled" (click)="loginDetails()">
	        Login</button><br/>
		<div class="alert alert-danger" *ngIf="error">{{errorMessage}}</div> 
	</div>
</div>
